@import '../styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,700;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/akira-expanded');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: $light;
}

.container {
	width: 100vw;
	height: calc(100vh - #{$headerHeight});
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	// background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);

	.toptext {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		font-family: 'ClashDisplay-Bold';
		font-size: 5vh;
		width: 100%;
		line-height: 90%;
		margin-bottom: 3rem;

          
          /** TEXT GRADIENT */ color: #f5f7fa; background-image: -webkit-linear-gradient(0deg, #f5f7fa 0%, #f0f6ff 100%); background-clip: text; -webkit-background-clip: text; text-fill-color: transparent; -webkit-text-fill-color: transparent;
          
        

		  @include breakpoint(md) {
			font-size: 8vh;
		  }
          
        
	}

	.main {
		width: 80vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.phonenum {
			width: 100%;
			text-align: center;
			font-family: 'ClashDisplay-SemiBold';
			font-size: 4vh;

          
          /** TEXT GRADIENT */ color: #f5f7fa; background-image: -webkit-linear-gradient(0deg, #f5f7fa 0%, #f0f6ff 100%); background-clip: text; -webkit-background-clip: text; text-fill-color: transparent; -webkit-text-fill-color: transparent;
          
        
          
		  @include breakpoint(md) {
			font-size: 8vh;
		  }
        
		}

		img {
			filter: invert(100%) sepia(0%) saturate(7467%) hue-rotate(121deg) brightness(119%) contrast(101%);
			margin-right: 1rem;
			margin-top: 0.5rem;
			transform: scaleX(-1);
		}

		.sub {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin: 30px 50px 30px 50px;

			p {
				text-align: center;
				font-family: 'ClashDisplay-SemiBold';
				font-size: 3.3vh;
				line-height: 90%;

				@include breakpoint(md) {
					font-size: 7vh;
				  }

          
          /** TEXT GRADIENT */ color: #f5f7fa; background-image: -webkit-linear-gradient(0deg, #f5f7fa 0%, #f0f6ff 100%); background-clip: text; -webkit-background-clip: text; text-fill-color: transparent; -webkit-text-fill-color: transparent;
          
        
          
        
			}

			h2 {
				text-align: center;
				font-family: 'ClashDisplay-Medium';
				font-size: 4vh;
				line-height: 90%;
				margin-bottom: 1rem;

          
          /** TEXT GRADIENT */ color: #f5f7fa; background-image: -webkit-linear-gradient(0deg, #f5f7fa 0%, #f0f6ff 100%); background-clip: text; -webkit-background-clip: text; text-fill-color: transparent; -webkit-text-fill-color: transparent;
          
        

		  @include breakpoint(md) {
			font-size: 6vh;
		  }
			}
		}
	}
}
